---
layout: page
title: Sistema (in)operativo
description: Ottieni il rimborso della tua licenza Windows
---

<p><strong>Sistema (In)operativo</strong> è un progetto per aiutare i cittadini che vogliono il rimborso di Windows e sensibilizzare sul tema.</p>
<a href="https://sistemainoperativo.it/" target="_blank">Scopri di più</a>

<hr>

<p>Questa attività può essere promossa all'interno della propria azienda, nei propri contatti o agli incontri.</p>
