---
layout: page
title: Contatti
---

<h2>Contattare assistenza Linux in Italia</h2>

<p>Hai un problema con Linux? Niente panico!<br />
Per ricevere assistenza tecnica <b>dal vivo</b> su Linux e su applicazioni libere e open source dal vivo in Italia, consigliamo una di queste soluzioni:</p>

<ol>
	<li>cercare la <a href="https://lugmap.linux.it/assistenza/">mappa sportelli periodici di assistenza Linux in Italia</a></li>
	<li>cercare la <a href="https://linuxsi.com/mappa/">mappa dei negozi Linux-friendly in Italia</a></li>
</ol>

<p>La prima soluzione ti permette di contattare velocemente la specifica community locale, e fissare un appuntamento di persona. Gli sportelli sono organizzati da persone volontarie, che fanno questa attività gratuitamente, per spirito di collaborazione e per imparare a risolvere nuovi problemi e a condividere e comprendere una soluzione insieme a te.</p>

<p>La seconda soluzione ti permette di raggiungere molte società che effettuano vendita e assistenza come professione. La scelta di rivolgersi ad un negozio è particolarmente indicata se hai fretta, se hai dati sensibili da recuperare o se si tratta di un computer di lavoro.</p>

<h2>Contattare assistenza Linux online</h2>

<p>Puoi anche ricevere assistenza tecnica direttamente <b>online</b> e in Italiano, su Linux e su applicazioni libere e open source in generale, scrivendo a questo semplice indirizzo:</p>

<ul>
	<li>Email di assistenza nazionale Linux<br />
	<img src="https://www.ils.org/images/assistenza.png" style="height: 25px; width: auto; margin-top: -7px" alt="assistenza chiocciola linux.it" /><br />
	<small>(↑ questa è un'immagine)</small>
	</li>
</ul>

<p><b><u>Importante:</u></b> Il servizio email di assistenza nazionale è gestito da persone volontarie aderenti all'associazione Italian Linux Society e le informazioni inviate a questo indirizzo email saranno quindi pubblicate online. Si raccomanda pertanto di <u>non</u> riportare numeri di telefono, indirizzi privati o altre informazioni che non desideri condividere.</p>

<p>Scrivendo una mail, ti creeremo automaticamente un account nel nostro forum di assistenza tecnica nazionale e pubblicheremo lì sia la tua domanda che le risposte delle persone volontarie:</p>

<ul>
	<li>Forum di assistenza tecnica nazionale<br />
	<a href="https://forum.linux.it/c/assistenza/12">https://forum.linux.it/c/assistenza</a>
</ul>

<p>In breve, scrivici una email. Noi ti rispondiamo. Chiunque può in futuro trovare il tuo problema e beneficiare di una soluzione condivisa. Con questo sistema abbiamo migliorato i tempi di risposta.</p>

<h2>Consigli generali sull'assistenza</h2>

<p>Lo ripetiamo: Linux? niente panico! La buona notizia è che fai parte della community più collaborativa dell'universo. Il tuo errore probabilmente è stato già affrontato da centinaia di altre persone nel mondo, e solitamente c'è sempre una soluzione (dopo tutto l'informatica è una scienza applicata).</p>

<p>Desideri abilitare altre persone a darti una mano? Bene. Aiuta le altre persone a comprendere le cause del tuo problema e ipotizzare una soluzione. Come dal medico, specifica brevemente più informazioni possibili, fra cui:</p>

<ul>
	<li>qual è la situazione desiderata</li>
	<li>qual è invece la situazione attuale</li>
	<li>cosa pensi potrebbe aver causato la situazione attuale</li>
	<li>versione di Linux che si sta usando (quale distribuzione)</li>
	<li>marca e modello per proprio PC</li>
	<li>contenuto di eventuali messaggi di errore riportati dal sistema</li>
</ul>

<p>Un consiglio per ricevere risposte più veloci: sii breve e gentile! Grazie!</p>

<h2>Conoscere Italian Linux Society</h2>

<p>Per ulteriori contatti sull'associazione di volontariato Linux nazionale e come partecipare o sostenere la community Linux in Italia:</p>

<ul>
	<li><a href="https://www.ils.org/contatti">Contatti di Italian Linux Society</a></li>
</ul>
