---
layout: page
title: Scegli una Distribuzione Linux
---

<img class="float-right" src="/images/distropickerlogo.png">

<p><b>"Linux"</b> è il nome che identifica il componente essenziale del sistema operativo (il "kernel"), e per estensione con lo stesso nome si identificano tutti i sistemi operativi costruiti su di esso e cui sono aggiunti applicativi più o meno specifici per un determinato contesto, ambienti grafici più semplici oppure più performanti, ed una serie di componenti. Tali sfumature sono dette <b>"distribuzioni"</b> (o, in gergo, <b>distro</b>), e ne esistono a centinaia.</p>
<p>Se si vuole iniziare con Linux, o se già lo si è provato e si vuol tentare qualcosa di più avanzato, quale di queste scegliere, scaricare e provare?</p>
<p>Qui di seguito alcune semplici domande, ed un ristretto insieme delle distribuzioni più popolari: seleziona i criteri per te di maggiore interesse, scarica quella che meglio si adatta a te, <a href="/usb">provala in modalità "live"</a> e <a href="/installare">prova ad installarla</a> (o chiedi supporto al <a href="http://lugmap.linux.it/">Linux Users Group</a> più vicino a casa).</p>

<hr>

<script src="/js/picker.js" defer></script>
<link rel="stylesheet" href="/css/picker.css">

<div id="quiz">
</div>

<a class="cta-button" href="/usb">Scelta la distribuzione, crea una chiavetta USB avviabile per provarla ed installarla!</a>
