---
layout: page
title: Domande Frequenti
---

<h3><a name="ubuntu" id="ubuntu"></a><a class="anchor" href="#ubuntu">#</a> Ho sentito parlare di Ubuntu, Mint, Fedora... Che differenza c'è con Linux?</h3>

<p>Sono la stessa cosa! O meglio: Linux è un termine generico che descrive tutti i sistemi operativi di un certo tipo, quelli composti in tutto o per la maggior parte da software libero, mentre Ubuntu, Mint, Fedora sono per l'appunto esempi di sistemi operativi che ricadono nella categoria "Linux" (altresì noti in gergo tecnico come "<a href="/glossario#distribuzione">distribuzioni</a>"). Per fare una analogia (molto semplificata e non pienamente corretta), "Linux" equivale ad "automobile sportiva" mentre Ubuntu, Mint e Fedora sono Ferrari, Lamborghini e Porsche.</p>

<img src="/images/faq/schema_architettura.png" alt="Cos'è una distribuzione GNU/Linux" class="float-left img-fluid">

<h3><a name="download" id="download"></a><a class="anchor" href="#download">#</a> Dove si scarica l'ultima versione di Linux?</h3>

<p>Vedi <a href="#ubuntu">sopra</a>: essendo Linux un termine generico non ne esiste una "ultima versione". Semmai esistono le varie versioni delle diverse distribuzioni, ciascuna scaricabile sui rispettivi siti Internet (molto spesso gratuitamente). <a rel="nofollow" href="http://distrowatch.com/dwres.php?resource=popularity">Qui trovi un ricchissimo elenco</a> di progetti Linux ordinati per popolarità, e <a href="/distro">qua un piccolo strumento per aiutarti nella scelta</a>.</p>

<h3><a name="distribuzioni" id="distribuzioni"></a><a class="anchor" href="#distribuzioni">#</a> Ci sono un sacco di "distribuzioni"! Quale scelgo?</h3>

<p>Ogni progetto ha le sue peculiarità specifiche, che possono variare dalla dotazione di programmi installati insieme al sistema (ivi compresa l'interfaccia grafica), all'ottimizzazione specifica per l'hardware più moderno o più obsoleto, alla più o meno grande adesione ai principi del <a href="/softwarelibero">software libero</a>, fino ai dettagli tecnici. Se non hai nessuno che possa consigliarti, prova <a href="/distro">con questo strumento</a>, <a href="/usb">testane qualcuno in modalità "live"</a> ed infine <a href="/installare">installa quella che preferisci sul tuo computer</a>.</p>

<h3><a name="italiano" id="italiano"></a><a class="anchor" href="#italiano">#</a> Linux c'è anche in italiano?</h3>

<p><a href="/italiano">Ovviamente!</a> Trattandosi di un progetto internazionale capita che i siti di informazione che si vanno a visitare siano spesso in inglese, ma anche la nostra lingua è pienamente supportata. All'inizio dell'installazione di pressoché tutte le distribuzioni è possibile selezionare il linguaggio preferito, tra cui appunto l'italiano e moltissimi altri; nel nuovo sistema operativo verranno automaticamente scaricate le traduzioni per tutti i programmi contemplati nell'ambiente, ed altrettanto avverrà per le applicazioni aggiunte successivamente.</p>

<h3><a name="software" id="software"></a><a class="anchor" href="#software">#</a> Su Linux funziona il mio programma preferito?</h3>

<p>Non proprio: Linux è un sistema operativo, e gli applicativi fatti per altri sistemi operativi (come ad esempio Windows o macOS) non possono essere installati ed eseguiti. Però per molti programmi esiste una versione anche per Linux, come ad esempio <a rel="nofollow" href="http://www.mozilla.org/it/firefox/">Firefox</a> o <a rel="nofollow" href="http://it.libreoffice.org/">LibreOffice</a>.</p>

<h3><a name="programs" id="programs"></a><a class="anchor" href="#programs">#</a> Come installo nuovi programmi su Linux?</h3>

<p>Da sempre le applicazioni su Linux sono gestite per mezzo di <i>package manager</i>, programmi che permettono di installare e tenere aggiornati tutti gli altri programmi del sistema. In modo analogo a quanto succede sui telefoni, e più recentemente è stato introdotto su Windows e macOS. I programmi installabili sono archiviati in <i>repository</i>, alcuni dei quali ufficiali per la propria distribuzione di riferimento ed altri che possono essere aggiunti per accedere ad altre applicazioni (o a versioni diverse delle stesse). Si possono poi installare anche <i>pacchetti</i> forniti da terzi, ma dove possibile è sempre meglio utilizzare quelli provenienti da <i>repository</i> monitorati e considerati sicuri.</p>

<h3><a name="virus" id="virus"></a><a class="anchor" href="#virus">#</a> Su Linux ci sono i virus?</h3>

<p>Proprio perché su Linux non si eseguono gli stessi programmi di Windows, e considerando che i virus altro non sono che programmi informatici, la risposta è "no". Esistono anche virus specifici per Linux, ma hanno una diffusione decisamente marginale anche in virtù del fatto che l'installazione di <a href="#programs">nuove applicazioni</a> è mediata per mezzo di <i>repository</i> controllati. Ad oggi è assolutamente sicuro non installare alcun antivirus all'interno del proprio ambiente (con tutto quel che ne consegue in termini di velocità del computer).</p>

<h3><a name="trashware" id="trashware"></a><a class="anchor" href="#trashware">#</a> E' vero che posso installare Linux anche su PC vecchi?</h3>

<p>Si, e anzi ci sono varianti di Linux appositamente pensate ed ottimizzate per computer di 5 (o anche 10) anni fa. Se per esempio avete un PC risalente all'epoca di Windows XP è probabile che ci si possa installare una versione ad-hoc graficamente gradevole e con software ben aggiornato (e dunque stabile e sicuro), provate a rivolgervi al <a href="http://lugmap.linux.it/">Linux Users Group più vicino a casa</a> per farvi consigliare! Non aspettatevi comunque di poter installare l'ultima versione disponibile su un dispositivo degli anni '90, o di avere effetti 3D all'avanguardia su un computer recuperato dalla cantina: esistono ovviamente dei limiti fisici oltre i quali è impossibile andare.</p>

<h3><a name="hardware" id="hardware"></a><a class="anchor" href="#hardware">#</a> Quale computer è consigliato per installarci Linux?</h3>

<p>Molto dipende dalla disponibilità di drivers per far funzionare i diversi componenti, come la scheda grafica accelerata o il wireless: è sempre utile documentarsi prima sull'effettiva compatibilità con Linux. Se intendi acquistare un nuovo computer puoi consultare <a href="http://www.linuxsi.com/">l'elenco dei negozi Linux-friendly presenti in Italia</a>, o dare una occhiata <a href="http://www.linuxsi.com/produttori/">a questa pagina</a> per vedere quali sono le marche che producono computer mediamente più compatibili con Linux e per trovare le recensioni di laptop e componenti.</p>

<h3><a name="support" id="support"></a><a class="anchor" href="#support">#</a> Ho un problema tecnico: a chi mi rivolgo?</h3>

<p>Innanzitutto puoi rivolgerti all'Internet, molto spesso basta consultare il tuo motore di ricerca preferito per trovare su qualche forum online una soluzione al tuo problema; non sempre è facile, ma per ottenere una risposta molto dipende da come si pone la domanda... Il secondo passo è quello di entrare in contatto con il <a href="/glossario#lug">Linux Users Group</a> più vicino a te: ne esistono <a href="/community">decine in tutta Italia</a>, tutti indicizzati sulla <a href="http://lugmap.linux.it/">LugMap</a>: prova a dare una occhiata, forse troverai qualche amico.</p>

<h3><a name="prova" id="prova"></a><a class="anchor" href="#prova">#</a> Ho provato Linux qualche anno fa e non mi è piaciuto...</h3>

<p>Sei fortemente invitato a provarlo nuovamente, magari sfruttando una <a href="/usb">versione "live"</a> (eseguibile da CD o chiavetta USB, senza dover installare nulla permanentemente). Il ritmo di sviluppo del software opensource è estremamente rapido, buona parte delle distribuzioni più popolari viene aggiornata ogni soli sei mesi e contiene non solo miglioramenti estetici ma anche il supporto a nuove periferiche (stampanti, scanner, schede video...) e nuove applicazioni. Se sei incuriosito da Linux ma non ne sei convinto al primo approccio, non desistere e anzi ritenta <a href="/distro">con una nuova scelta</a>: potresti essere piacevolmente sorpreso.</p>

<h3><a name="shell" id="shell"></a><a class="anchor" href="#shell">#</a> In Linux si fa tutto scrivendo complicati comandi testuali?</h3>

<p>Se lo si vuole si, ma non è necessario. Molto spesso vedi gli utenti più esperti adoperare il "terminale" testuale (più o meno, l'equivalente di quello che in Windows viene chiamato "Prompt dei comandi DOS") in quanto, se lo si sa usare, esso è una interfaccia molto più flessibile e veloce di quella grafica, dunque - per quanto ciò possa suonare strano - più comoda. Sui forum o sulle mailing list in cui si offrono spunti e soluzioni ai comuni problemi di configurazione ed installazione quasi sempre viene indicato di aprire un terminale e scrivere dei comandi: non perché questo sia l'unico modo per fare le cose, ma perché su un forum - ovvero su un canale di comunicazione quasi esclusivamente scritto - è assai più pratico fornire delle righe da copiare ed incollare che non spiegare per filo e per segno cosa, quando e dove cliccare in una interfaccia grafica!</p>

<img src="/images/faq/schemafreesoftware.png" alt="Cos'è il Software Libero" class="float-left img-fluid">
<h3><a name="gratis" id="gratis"></a><a class="anchor" href="#gratis">#</a> Il software libero è sempre gratis?</h3>

<p>Non proprio: il fatto che i programmi liberi siano spesso anche gratis è una coincidenza, il prezzo c'entra poco col fatto che il software sia chiamato "libero". Dunque, bada bene: non tutto il software gratuito è anche libero (e non ti garantisce dunque tutti i tuoi diritti di ridistribuzione, analisi e modifica), cosiccome non tutto il software libero è necessitamente gratuito ed anzi esistono numerose aziende che offrono servizi di formazione, assistenza e personalizzazione a pagamento. <a href="/softwarelibero">Consulta questa pagina per approfondire</a>.</p>

<p class="clearer"></p>

<h3><a name="opensource" id="opensource"></a><a class="anchor" href="#opensource">#</a> Che differenza c'è tra freesoftware e opensource?</h3>

<p>Il freesoftware (o "software libero", in italiano) è il software che viene distribuito con una licenza che garantisce le libertà di utilizzo, studio, ridistribuzione e modifica a tutti coloro che ne ottengono una copia. L'opensource è un modello di sviluppo incentrato sulla partecipazione, in cui tutto il codice è pubblico e tutti possono in qualche modo contribuire al suo miglioramento e perfezionamento. Molto spesso il software libero è anche opensource, e viceversa, ma non sempre!</p>

<h3><a name="work" id="work"></a><a class="anchor" href="#work">#</a> Con Linux ci sono sbocchi professionali?</h3>

<p>Innumerevoli, ed in continuo aumento. Linux è la piattaforma di riferimento per svariati ambiti produttivi, dai dispositivi embedded alle reti aziendali a Internet, ed il modello di sviluppo opensource è diventato imprescindibile per qualunque programmatore.</p>
