---
layout: page
title: Richiesta Adesivi
description: Richiedi gli adesivi gratuiti spediti da Italian Linux Society!
image: /images/stickers-social.png
---

<div class="row">
    <div class="col-12 col-md-8">
        <p>Contribuisci a promuovere Linux e il software libero nel tuo ufficio, nella tua scuola, ad amici e conoscenti!</p>
        <p>L'associazione Italian Linux Society può spedire a casa tua una lettera con diversi adesivi all'interno, fra cui:</p>
        <ul>
            <li>adesivi con il <a href="https://gitlab.com/ItalianLinuxSociety/Materiali#logo-tux-loving-linuxit" target="_blank">logo del pinguino di Linux.it</a></li>
            <li>adesivi con il <a href="/usa-analizza-modifica-condividi" target="_blank">logo delle 4 libertà del software libero</a>
            <li>altri piccoli <a href="https://gitlab.com/ItalianLinuxSociety/Materiali" target="_blank">materiali assortiti sul software libero</a>, se ne abbiamo disponibilità</li>
        </ul>
    </div>
    <div class="col-12 col-md-4">
        <div><img class="img-fluid mb-3 mb-md-0" src="/images/stickers.jpg"></div>
        <small><a href="https://commons.wikimedia.org/wiki/File:Stickers_and_pins_love_Linux.it_from_Linux_Day_2022_in_Italy.jpg" target="_blank">Immagine sticker Linux.it in pubblico dominio, Italian Linux Society</a></p>
    </div>
    <div class="col-12">
        <h3>Modulo di richiesta</h3>
        <p>Attenzione: non spediamo un singolo adesivo alla volta. Chi li chiede ne riceve almeno 15 per tipo e deve impegnarsi a distribuirli ad altri, prendendo parte attiva nella promozione del software libero!</p>
        <p>Ti invitiamo a compilare questo modulo <strong>una volta sola</strong>: abbi pazienza, riceviamo tantissime richieste e tutte vengono elaborate un po' alla volta da persone volontarie.</p>
        <p><a href="https://ilsmanager.linux.it/ng/gadget-request/create" class="cta-button">Richiedi adesivi</a></p>
    </div>
    <div class="col-12">
        <h3>Vedi anche</h3>
        <p>Scarica <a href="/locandine">locandine a tema software libero</a> e stampale in autonomia.</p>
        <p>Vedi tutti i <a href="https://gitlab.com/ItalianLinuxSociety/Materiali">materiali legati a Italian Linux Society</a>.</p>
    </div>
</div>
